.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.css-1yhtdwl-MuiButtonBase-root-MuiTab-root {
  font-size: 14px !important;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-glm9mk-MuiTypography-root {
  font-size: 14px !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, white, #30779d);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e0e0e0, #30779d);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #30779d transparent;
}
